body {
    padding-top: 70px;
}

/*.starter-template {*/
    /*padding: 40px 15px;*/
    /*/!*text-align: center;*!/*/
/*}*/

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 120px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 120px;
    background-color: #f5f5f5;
}


.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

/**
*/

.numbers {
    vertical-align: middle !important;
    font-size: 1.2em;
}

.numbers-hit {
    text-align: center;
    vertical-align: middle !important;
    font-size: 1.2em;
}

.please-wait-r {
    background-image: url("/img/wait.gif");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 21px;
}

.please-wait-r i {
    font-size: 0.9em;
}

li.avatar {
    height: 50px;
}

li.avatar a {
    padding-top: 6px !important;
}

li.avatar img {
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
    border-radius: 80%;
    border: 2px solid #6673BC;
    padding-top: 0 !important;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.more-actions a {
    padding: 0 1em 0 1em !important;
    margin: 0 !important;
}
.more-actions > a {
    color: white !important;
}

table.bet-grid {
    width: 100%;
}
table.bet-grid tr,
table.bet-grid td {
    padding: 0;
    text-align: center;
}
table.bet-grid button {
    margin: 0;
}

.small-list a {
    margin: 0;
    padding: 8px;
}

.small-list li {
    padding-bottom: 8px;
}

ul.small-list {
    list-style-type: none;
    padding: 0;
}

